.textbox {
  @apply border-0 px-5 py-4 rounded-xl w-3/4 shadow-sm text-lg;
  @apply focus:outline-none;
}

.btn {
  @apply border w-3/4 py-4 rounded-lg text-white font-bold text-xl shadow-sm text-center outline-none border-none;
  background-color: var(--primary-sky-color);
}

.btn:hover {
  opacity: 2;
  filter: brightness(75%);
}
